* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
}

header {
    width: 100%;
    height: 40px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.escrita {
    display: flex;
    text-align: center;
    max-width: 900px;
    height: 100px;
    font: bold 45px 'Acme', sans-serif;
    color: rgb(255, 255, 255);
}

.escrita p {
    filter: drop-shadow(0 2px 3px black);
}

.logo img {
    max-width: 400px;
}

#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #000;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.func {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.func li {
    list-style: none;
    padding: 10px 0;
}

.func li h1 {
    font: 16px Poppins;
    color: #922222;
}

.func li a {
    width: 200px;
    padding: 2px 10px;
    font: 16px Poppins;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.func li a:hover {
    color: #585858;
    font-weight: bold;
    box-shadow: 2px 4px 3px #000;
}

.menu-bg,
#menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #fff, #fff);
    border-radius: 50%;
    transition: 0.3s ease;
}

#menu-bar {
    z-index: 2;
}

.change-bg {
    width: 550px;
    height: 510px;
    transform: translate(-60%, -30%);
}

.change .bar {
    background-color: #000;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0;
}

.change {
    display: block;
}

.func li:hover ul,
.menu li.over ul {
    display: block;
}

.func ul {
    display: none;
}

.func .itensFunc.mostra {
    display: block;
}

.itensFunc li {
    list-style: none;
    padding: 8px 10px;
}