* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins;
}

a {
    text-decoration: none;
}

body {
    background-color: #e2e2e2;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

header a img {
    margin-right: auto;
    max-width: 150px;
}

header h1 {
    text-align: center;
    font: bold 25px Poppins;
    color: rgb(8, 8, 8);
}

header a {
    font: bold 15px Poppins;
    cursor: pointer;
    color: #252525;
    transition: 0.2s;
}

header a:hover {
    color: #eb1616;
    opacity: .7;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(153, 153, 153);
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.content {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.row {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.input {
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.input label {
    margin-right: auto;
    padding: 0 5px;
    font: 18px Poppins;
    color: rgb(82, 82, 82);
}

.input input {
    width: 95%;
    height: 25px;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #585858;
    padding: 2px 5px;
    color: #838383;
    transition: 0.3s;
}

.input input:focus {
    width: 100%;
    padding: 10px 10px;
    border-bottom: 1.5px solid #1E90FF;
}

.input.error input {
    width: 100%;
    border-bottom: solid 1.5px #eb1616;
}

.input select {
    width: 95%;
    height: 25px;
    margin-right: auto;
    margin-left: 8px;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #585858;
    padding: 2px 5px;
    color: #363636;
    transition: 0.3s;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.input select:focus {
    width: 100%;
    margin-left: 0;
    border-bottom: 1.5px solid #1E90FF;
}

.input.error select {
    width: 100%;
    margin-left: 0;
    border-bottom: solid 1.5px #eb1616;
}

select option[value="hide"] {
    display: none;
}

.inputfile {
    height: 100%;
}

.inputfile.error label {
    border: 2px solid #eb1616;
}

.inputfile input[type="file"] {
    display: none;
}

.inputfile label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 310px;
    height: auto;
    background: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #C2C2C2;
    border-radius: 7px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #727272 !important;
}

span {
    display: none;
    position: absolute;
    margin-top: 20px;
    margin-left: 260px;
    color: #eb1616;
}

.btn {
    width: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    width: 95%;
    height: 40px;
    background: none;
    outline: none;
    border: 2px solid #585858;
    border-radius: 30px;
    font: 16px Poppins;
    color: #313131;
    transition: 0.3s;
}

.btn button:hover {
    width: 100%;
    height: 42px;
    border-radius: 40px;
    border: 2px solid #B22222;
    font: 18px Poppins;
    color: #eb1616;
    box-shadow: 1px 2px 2px #ac2a2a;
    cursor: pointer;
}

#text-error {
    margin-top: 10px;
    font: bold 12px Poppins;
    color: #eb1616;
}

.box-add {
    width: 280px;
    display: flex;
}

.field {
    width: 270px;
}

.box-add input {
    width: 235px;
}

.box-add .input.error input {
    width: 235px;
}

.box-add .input {
    width: 270px;
}

.box-add input:focus {
    width: 245px;
}

.button-box input {
    width: 25px;
    height: 27px;
    background-color: #252525;
    box-shadow: 0 0 5px #585858;
    border-radius: 5px;
    font: bold 15px Poppins;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

.button-box input:focus {
    width: 25px;
    padding: 0 0;
    border-bottom: none;
}

.button-box-r input {
    margin-top: 5px;
    width: 25px;
    height: 25px;
    background-color: #B22222;
    box-shadow: 0 0 5px #ac2a2a;
    border-radius: 5px;
    font: bold 12px Poppins;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

.button-box-r input:focus {
    width: 25px;
    padding: 0 0;
    border-bottom: none;
}

#inputespirasA label,
#inputfiosA label,
#bitolaA label {
    color: #B22222;
}