* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins;
}

a {
    text-decoration: none;
}

body {
    background-color: #e2e2e2;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dddddd;
    padding: 0 40px;
}

header img {
    margin-right: auto;
    max-width: 150px;
}

header a {
    font: bold 15px Poppins;
    cursor: pointer;
    color: #252525;
    transition: 0.2s;
}

header a:hover {
    color: #eb1616;
    opacity: .7;
}

.form {
    width: 230px;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.form input {
    width: 240px;
    height: 25px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #585858;
    padding: 2px 5px;
    text-align: center;
    color: #838383;
    transition: 0.3s;
}

.form input:focus {
    width: 245px;
    padding: 10px 10px;
    border-bottom: 1.5px solid #1E90FF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #dddddd inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #e2e2e2 !important;
}

.form button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.form button:hover {
    color: #1E90FF;
    opacity: 0.7;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.pesquisa {
    display: flex;
    justify-content: center;
}

.item {
    width: 80%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(153, 153, 153);
    margin-bottom: 15px;
}

.imagem img {
    max-width: 70px;
}

.content {
    width: 900px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text .title {
    font: 12px Poppins;
    color: rgb(82, 82, 82);
}

.textSP .title {
    font: 12px Poppins;
    color: rgb(100, 27, 27);
}

.textSP h4 {
    font: 12px Poppins;
    color: #414141;
}

.text h4 {
    font: 12px Poppins;
    color: #838383;
}

.action {
    padding: 8px 0;
}

.action img {
    width: 20px;
    height: 20px;
}

.nosearch {
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.nosearch h1 {
    font: 35px Poppins;
    color: #252525;
}

.pag {
    display: inline-flex;
    border-radius: 5px;
    padding: 10px 16px;
    margin-top: 1rem;
    margin-right: 10px;
    font: 18px Poppins;
    color: #252525;
    background-color: rgb(245, 245, 245);
    opacity: 0.7;
    transition: 0.3s;
}

.pag:hover {
    background-color: #fff;
    opacity: 1;
}